.el-form--inline .el-form-item {
  margin-right: 18px;
}

.field-default {
  display: inline-flex;
  width: 185px;
  > div {
    width: 100% !important;
    box-sizing: border-box;
  }
}

.field-time {
  display: inline-flex;
  width: 390px;
  > div {
    width: 100% !important;
    box-sizing: border-box;
  }
}